body{
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
    background: url(https://chucknorris.com/assets/themes/chuck-norris/img/chuck-vector-footer.svg) no-repeat center;
    color: white;
    background-size: 95vw;
    background-color: #bf904c;
    height: 100vh;
    width: 100vw;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: sans-serif;
    font-style: normal;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

h1, .showSelection{
    color: #FFC400;
    /* color: gold; */
    text-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}

header{
    min-height: 10vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg,#d5a155 60%,#aa8044ab);
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.25);
}

header > div{
    width: 100%;
    height: 10vh;
    margin: 2.5px 0;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

aside{
    display: flex;
    height: 0vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: ease-out 0.35s;
}.showHide{
    height: 7.5vh;
    opacity: 1;
}

.showSelection{
    transition: 0.35s ease-out;
}.rotate{
    transform: rotate(180deg);
}

section{
    max-height: 82.5vh;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

aside select{
    width: 50%;
    height: 65%;
    border: solid #FFC400 2px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 12pt;
    color: white;
    font-weight: bolder;
}

select > option{
    background-color: #aa8044;
    font-weight: bold;
}

button{
    position: absolute;
    bottom: 5vh;
    letter-spacing: 3px;
    padding: 7.5px 15px;
    border: solid #FFC400 2.5px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 20pt;
    color: white;
    font-weight: bolder;
}

.jukes{
    display: none;
    width: 90%;
    font-size: 15pt;
    max-height: 80vh;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}



.loadingAni {
    display: inline-block;
    position: relative; 
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.75);
}
.loadingAni div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loadingAni div:nth-child(1) {
    left: 6px;
    animation: loadingAni1 0.6s infinite;
}
.loadingAni div:nth-child(2) {
    left: 6px;
    animation: loadingAni2 0.6s infinite;
}
.loadingAni div:nth-child(3) {
    left: 26px;
    animation: loadingAni2 0.6s infinite;
}
.loadingAni div:nth-child(4) {
    left: 45px;
    animation: loadingAni3 0.6s infinite;
}


@keyframes loadingAni1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes loadingAni3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
@keyframes loadingAni2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
}
  

/* SHOW MODAL IOS ONLY */
#iosAlertBoxWebApp{
    position: absolute;
    bottom: -15%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    z-index: 5;
    opacity: 0;
    display: none;
}

#actualContent{
    height: 8vh;
    width: 95vw;
    padding: 5px;
    font-size: 10pt;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    border-radius: 10px;
}

#iosAlertBoxWebApp i{
    font-size: 6vh;
    color: gray;
    margin: 5px;
}

#triangleDown {
    align-self: center;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid lightgray;
  }

@keyframes show{
    10%, 90%{
        transform: translateY(-115%);
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 0;
    }
}